.y{
    height:120px ;
    width: 130px;
    mix-blend-mode: color-burn;
}

.al {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .dd{
    background-color: #423031;
    width: 320px;
    height: 240px;
  }
  .f{
    position: relative;
    top:10px;
  }
 
  .hh{
    font-size: 21.5px;
    position: relative;
    top:20px;
    font-weight: lighter;
  }
  .jj{
    left: 285px;
    top:205px;
    z-index: 2;
  }

  .ban {
    font-family: "Bangers", system-ui;
    font-weight: 700;
    font-style:italic;
  }

  .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
