.bangers-regular {
    font-family: "Bangers", system-ui;
    font-size:24px;
    font-weight: 400;
    font-style: normal;
  }
.middle-buttons{
    background-color:rgba(235, 233, 233, 0.20);
}


  