.bangers-regular {
    font-family: "Bangers", system-ui;
    font-size:20px;
    font-weight: 400;
    font-style: normal;
  }
.middle-buttons{
    background-color:rgba(235, 233, 233, 0.20);
}

.red-blur {
  position: absolute;
  top: -200px;  /* Below the navbar */
  left: 35%;
  transform: translateX(-10%);
  width: 400px;   /* Adjust size of the blur */
  height: 400px;  /* Adjust size of the blur */
  background: rgba(215, 68, 75, 0.25);
  border-radius: 400px;
  filter: blur(80px);
  pointer-events: none;  /* Prevent interaction with the blur layer */
  opacity: 0;  /* Initially hidden */
  transition: opacity 0.1s ease;  /* Smooth transition for showing/hiding */
  z-index:1;
}
/* Show the blur effect when activeButton is set */
.show-blur {
  opacity: 1;  /* Make the blur visible */
}

/* Optional: Style the buttons */
button.button-link {
  transition: all 0.1s ease;
  z-index:2;
}

